.caption media
.main
  img.video(src="http://placehold.it/550x300")

  img.arrow-left(src="assets/img/left.png", alt="")
  img.arrow-right(src="assets/img/right.png", alt="")

.info
  h3 See us in Over the Mountain Journal!
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas minima beatae, accusantium consectetur debitis vel, illo, magnam eum saepe dolorum fuga aliquid ad adipisci, ex optio distinctio necessitatibus ducimus pariatur.
    //Need to add picker below
